---
import { Image } from 'astro:assets';
import danskeSpil from '../assets/images/danskeSpil.webp';
import girlTalk from '../assets/images/girlTalk.webp';
import bauhaus from '../assets/images/bauhaus.webp';
import sacIt from '../assets/images/sac-it.webp';
import broleagger from '../assets/images/broleaggerteamet.webp';
import dhv from '../assets/images/dhv.webp';
---

<div class="relative">
    <a href="/danskeSpil">
        <Image src={danskeSpil} alt="Mockup af Danske Spil app" class="lg:h-[470px]"></Image> 
        <div class="bg-[#e3e1dfdb] text-[#434343] absolute top-[162px] w-full p-2 px-4 uppercase bebas-neue-regular lg:top-[390px]">
            <h4 class="text-[22px] lg:text-3xl">Noa Ignite <span class="text-[14px]">x</span> Danske Spil</h4>
            <p class="text-[16px] lg:text-xl">Kea</p>
        </div>
    </a>
</div>

<div class="relative mt-10 lg:mt-0 lg:h-[464px]">
    <a href="/girlTalk">
        <Image src={girlTalk} alt="Mockup af GirlTalk app" class="lg:h-[472px]"></Image>
        <div class="bg-[#e3e1dfdb] text-[#434343] absolute top-[155px] w-full p-2 px-4 uppercase bebas-neue-regular lg:top-[390px]">
            <h4 class="text-[22px] lg:text-3xl">GirlTalk</h4>
            <p class="text-[16px] lg:text-xl">Kea</p>
        </div>
    </a>
</div>

<div class="relative mt-10 lg:mt-0">
    <a href="/bauhaus">
        <Image src={bauhaus} alt="Mockup af Bauhaus Schweiz app" class="lg:h-[470px]"></Image>
        <div class="bg-[#e3e1dfdb] text-[#434343] absolute top-[162px] w-full p-2 px-4 uppercase bebas-neue-regular lg:top-[390px]">
            <h4 class="text-[22px] lg:text-3xl">Bauhaus Schweiz</h4>
            <p class="text-[16px] lg:text-xl">Relesys app</p>
        </div>
    </a>
</div>

<div class="relative mt-10 lg:mt-0">
    <a href="/sacIt">
        <Image src={sacIt} alt="Mockup af Sac-It hjemmeside" class="lg:h-[472px]"></Image>
        <div class="bg-[#e3e1dfdb] text-[#434343] absolute top-[155px] w-full p-2 px-4 uppercase bebas-neue-regular lg:top-[392px]">
            <h4 class="text-[22px] lg:text-3xl">Sac-It</h4>
            <p class="text-[16px] lg:text-xl">Redesign af website</p>
        </div>
    </a>
</div>

<div class="relative mt-10 lg:mt-0">
    <a href="/brolæggerTeamet">
        <Image src={broleagger} alt="Mockup af BrolæggerTeamets hjemmeside" class="lg:h-[470px]"></Image>
        <div class="bg-[#e3e1dfdb] text-[#434343] absolute top-[162px] w-full p-2 px-4 uppercase bebas-neue-regular lg:top-[390px]">
            <h4 class="text-[22px] lg:text-3xl">BrolæggerTeamet</h4>
            <p class="text-[16px] lg:text-xl">Hjemmeside</p>
        </div>
    </a>
</div>

<div class="relative mt-10 mb-10 lg:mt-0 lg:mb-20">
    <a href="/dhv">
        <Image src={dhv} alt="Mockup af kampagne til Dansk Hestevæddeløb" class="lg:h-[472px]"></Image>
        <div class="bg-[#e3e1dfdb] text-[#434343] absolute top-[155px] w-full p-2 px-4 uppercase bebas-neue-regular lg:top-[392px]">
            <h4 class="text-[22px] lg:text-3xl">Dansk Hestevæddeløb</h4>
            <p class="text-[16px] lg:text-xl">Kampagnesite</p>
        </div>
    </a>
</div>

<style>
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>